.container {
  padding: 0 2rem;
}

.gridContainer {
  /* background-color: gray; */
  border: 1px solid black;
  display: grid;
  grid-template-areas: 
    "a b c d"
    "e o o f"
    "g o o h"
    "i j k l"
}

.grid {
  width: 100%;
  height: 200px;
  background-color: red;
  border: 1px solid black;
  flex-grow: 1
}

.midGrid {
  border: 1px solid black;
  grid-area: o;
}